html {
  background-color: black;
}

body {
  margin: 0px
}

@keyframes topMove {
  0% {left: -1000px;}
  100% {left: 0px;}
}

.top {
  background-color: black;
  color: white;    
  padding: 5em;
  position: relative;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  animation-name: topMove;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
}

@media only screen and (max-width: 600px) {
  .top {
    /*background-color: black;
    color: white;
    padding: 5em;
    text-align: center;
    font-family: 'Montserrat', sans-serif;*/
    padding: 1em;
    font-size: 0.8em;
  }
}

@keyframes testTwo {
  0%  {left: -1500px;}
  100% {left: 0px;}
}

.aboutMe {
  color: white;
  font-family: 'Montserrat', sans-serif;
  padding: 3em;
  font-size: 1.5em;
  text-align: center;
  position: relative;
  animation-name: testTwo;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
}

@media only screen and (max-width: 600px) {
  .aboutMe {
    font-size: 1em;
    padding: 0em 2em 2em 2em;
  }

}

/*
p {
  max-width: 70%;
  margin: auto;
}
*/

@keyframes LineOne {
  0% {left: 0px;}
  20% {left: -400px; top: 0px;}
  30% {top: -80px;}
  40% {top: 0px; left: -400px;}
  60% {left: 0px;}
  80% {left: 400px}
  100% {left: 0px;}
}

@keyframes opacTime {
  0% {opacity: 0;}
  80% {opacity: 0;}
  100% {opacity: 1;}
}

.delayDiv {
  animation-name: opacTime;
  animation-duration: 2s;
}

.animationLineOne {
  width: 20%;
  height: 4px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  border-radius: 30px;
  background: blue;
  position: relative;
  animation-name: LineOne;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-delay: 2.2s;
}

.animationLineTwo {
  width: 20%;
  height: 4px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 0px;
  border-radius: 30px;
  background: red;
  position: relative;
  animation-name: LineOne;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-delay: 6.2s;
}

.animationLineThree {
  width: 20%;
  height: 4px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 0px;
  border-radius: 30px;
  background: #42f47d;
  position: relative;
  animation-name: LineOne;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-delay: 4.2s;
}

.animationLineFour {
  width: 20%;
  height: 4px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 0px;
  border-radius: 30px;
  background: #fcf93c;
  position: relative;
  animation-name: LineOne;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-delay: 8.2s;
}

.aboutMeBorder {
  width: 50%;
  height: 1px;
  margin: auto;
  margin-top: 20px;
  background: white;
}

.links {
  font-family: 'Montserrat', sans-serif;

}

@keyframes stuff {
  0% {left: 1000px;}
  100% {left: 0px;}
}

.leftSide {
  color: white;
  padding: 2em;
  font-size: 1.5em;
  position: relative;
  /*padding-bottom: 3em;*/
  text-align: center;
  animation-name: stuff;
  animation-duration: 1.8s;
  animation-timing-function: ease-in-out;
}

@media only screen and (max-width: 600px) {
  .leftSide {
    padding: 1em;
  }
}

ul {
  list-style: none;
  padding-left: 0;
}

@keyframes linky {
  0%  {left: -1000px;}
  100% {left: 0px;}
}

span {
  position: relative;
  padding: 1.5em;
  /*text-align: center;*/
  font-size: 1.5em;
  border: 1px;
  border-style: solid;
  border-color: white;
  animation-name: linky;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
}

@media only screen and (max-width: 600px) {
  span {
    padding: 1em;
    font-size: 1em;


  }
}

.itemWrapper {
  text-align: center;
}

a:visited {
  color: lightblue;
}

a:link {
  color: lightblue;
  text-decoration: none;
}