html {
  background-color: black;
}

body {
  margin: 0px;
}

@keyframes topMove {
  0% {top: 20%;}
  100% {top: 0%;}
}

@keyframes opacTop {
  0% {opacity: 0;}
  50% {opacity: 0;}
  100% {opacity: 1;}
}

.topWrapper {
  text-align: center;
  animation-name: opacTop;
  animation-duration: 0.9s;
}

.top {
  background-color: black;
  color: white;    
  padding: 2em;
  padding-top: 1em;
  position: relative;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  animation-name: topMove;
  animation-duration: 1.2s;
  animation-timing-function: ease-in-out;
}

@media only screen and (max-width: 600px) {
  .top {
    padding: 1em;
    font-size: 0.7em;
  }
}

@keyframes paragraphMove {
  0%  {top: 4%;}
  100% {top: 0%;}
}

@keyframes opacPara {
  0% {opacity: 0;}
  50% {opacity: 0;}
  100% {opacity: 1;}
}

.totalAbout {
  text-align: center;
  animation-name: opacPara;
  animation-duration: 1.8s;
}

.aboutMe {
  color: white;
  font-family: 'Montserrat', sans-serif;
  padding: 3em;
  font-size: 1.5em;
  text-align: center;
  position: relative;
  animation-name: paragraphMove;
  animation-duration: 1.2s;
  animation-delay: 0.5s;
  animation-timing-function: ease-in-out;
}

@media only screen and (max-width: 600px) {
  .aboutMe {
    font-size: 1em;
    padding: 0em 2em 2em 2em;
  }
}

p {
    background-image: -webkit-linear-gradient(left, #81BEF7, #F5DA81);
    background-image:    -moz-linear-gradient(left, #81BEF7, #F5DA81);
    background-image:     -ms-linear-gradient(left, #81BEF7, #F5DA81);
    background-image:      -o-linear-gradient(left, #81BEF7, #F5DA81);
    background-image:         linear-gradient(to right, #81BEF7, #F5DA81);
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

@keyframes LineAnimation {
  0% {left: 0px;}
  20% {left: -100px; top: 0px;}
  30% {top: -30px;}
  40% {top: 0px; left: -100px;}
  60% {left: 0px;}
  80% {left: 100px}
  100% {left: 0px;}
}

@keyframes opacTime {
  0% {opacity: 0;}
  80% {opacity: 0;}
  100% {opacity: 1;}
}


.delayDiv {
  animation-name: opacTime;
  animation-duration: 2.9s;
}


.animationLineOne {
  width: 50px;
  height: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  border-radius: 30px;
  background: blue;
  position: relative;
  animation-name: LineAnimation;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-delay: 3s;
}

.animationLineTwo {
  width: 5px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 0px;
  border-radius: 30px;
  background: red;
  position: relative;
  animation-name: LineAnimation;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-delay: 6s;
}

.animationLineThree {
  width: 5px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 0px;
  border-radius: 30px;
  background: #42f47d;
  position: relative;
  animation-name: LineAnimation;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-delay: 5s;
}

.animationLineFour {
  width: 50px;
  height: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 0px;
  border-radius: 30px;
  background: #fcf93c;
  position: relative;
  animation-name: LineAnimation;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-delay: 7s;
}


.aboutMeBorder {
  width: 50%;
  height: 1px;
  margin: auto;
  margin-top: 20px;
  background: white;
}

.links {
  font-family: 'Montserrat', sans-serif;

}

@keyframes rollIn {
  0% {left: -10%;}
  100% {left: 0%;}
}

@keyframes opacProj {
  0% {opacity: 0;}
  50% {opacity: 0;}
  100% {opacity: 1;}
}

.projAndSoc {
  text-align: center;
  animation-name: opacProj;
  animation-duration: 2.2s;
}

.leftSide {
  color: white;
  padding: 1em 2em 0.5em 2em;
  font-size: 2em;
  position: relative;
  text-align: center;
  animation-name: rollIn;
  animation-duration: 2.2s;
  animation-timing-function: ease-in-out;
}

@media only screen and (max-width: 600px) {
  .leftSide {
    padding: 1em;
    font-size: 1.5em;
  }

}

@keyframes linkRoll {
  0%  {left: -25%;}
  100% {left: 0%;}
}

@keyframes opacList {
  0% {opacity: 0;}
  50% {opacity: 0;}
  100% {opacity: 1;}
}

ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding-left: 0;
  animation-name: opacList;
  animation-duration: 2.6s;
}

ul li {
  padding: 1em;
  font-size: 1.5em;
  margin-right: 50px;
  position: relative;
  animation-name: linkRoll;
  animation-duration: 2.6s;
  animation-timing-function: ease-in-out;
  border: 1px;
  border-style: solid;
  border-color: white;
  border-radius: 10px;
}

@media only screen and (max-width: 650px) {
  ul {
    list-style-type: none;
    display: table;
    margin: 0 auto;
    padding: 0;
    text-align: center;
  }

  ul li {
    margin-bottom: 1em;
    padding: 1em;
    font-size: 1.2em;
    margin-right: 0px;
  }
}

@keyframes spin {
  0% {transform: rotate(0deg); left: -7%;}
  50% {transform: rotate(1440deg); left: 96%;}
  100% {transform: rotate(0deg); left: -7%;}
}

.rotate {
  height: 100px;
  width: 50px;
  position: absolute;
  background: linear-gradient(red, blue);
  animation: spin 40s linear infinite;
  border-radius: 0px;
  animation-delay: 8s;
  left: -7%;
  top: 35%;
  opacity: 0.5;
}


@keyframes spinTwo {
  0% {transform: rotate(90deg); left: -10%;}
  50% {transform: rotate(1530deg); left: 94%;}
  100% {transform: rotate(90deg); left: -10%;}
}

.rotateOne {
  height: 100px;
  width: 50px;
  position: absolute;
  background: linear-gradient(#fcf93c, #42f47d);
  animation: spinTwo 40s linear infinite;
  border-radius: 0px;
  animation-delay: 6s;
  left: -10%;
  top: 45%;
  opacity: 0.6;
}

@media only screen and (max-width: 600px) {

  @keyframes spin {
    0% {transform: rotate(0deg); left: -7%;}
    50% {transform: rotate(1440deg); left: 90%;}
    100% {transform: rotate(0deg); left: -7%;}
  }


  .rotate {
    height: 50px;
    width: 25px;
    top: 200px;
  }

  @keyframes spinTwo {
    0% {transform: rotate(90deg); left: -10%;}
    50% {transform: rotate(1530deg); left: 88%;}
    100% {transform: rotate(90deg); left: -10%;}
  }

  .rotateOne {
    height: 50px;
    width: 25px;
    top: 300px;
    left: -10%;
  }
}

.odin:visited {
  color: aqua;
}

.odin:link {
  color: aqua;
}

.odin:hover {
  color: blue;
}

.pro {
  color: #f442e2;
}

.soc {
  color: #4155f4;
}

a.pro:visited {
  color: #f442e2;
  text-decoration: none;
}

a.pro:link {
  color: #f442e2;
  text-decoration: none;
}

a.soc:visited {
  color: #4155f4;
  text-decoration: none;
}

a.soc:link {
  color: #4155f4;
  text-decoration: none;
}

a.pro:hover {
  color: #42e8f4;
  text-decoration: none;
}

a.soc:hover {
  color: #42e8f4;
  text-decoration: none;
}

.space {
  width: 100%;
  height: 200px;
}